body {
	font-family: Arial, Helvetica, sans-serif;
  }
  table td {
	background-image: linear-gradient(to bottom, #a9a9a9, #585858, #333333);
  .film-title {
	margin-bottom: 1.25em;
  }
  
  .film-cast {
	margin-top: 0.25em;
  }
}
table.dark {
	border: 1px solid #1a1a1a;}

table.dark th {
	border-bottom:1px solid #000;
}

table.dark td {
	border-right:1px solid #1a1a1a;
}

table.dark h4 {
	font-weight:normal;
}
th {
	text-align: left;
}
