body {
    background-color: #E2AC7F;
    color: black;
    font-family: Arial, sans-serif;
  }
  
  #wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F5F5DC;
    box-shadow: 0px 0px 10px #BDBDBD;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom:  1;
    font-family: Impact, fantasy;
    font-style: italic;
    text-align: center;
  }
  
  #wrap {
    border: dashed;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px #BDBDBD;
  } 
.line {
    border-style: dashed none none none;
}
  p {
    font-size: 16px;
    line-height: 1.5;
    font-family: FreeMono, monospace;
    margin: 0 0 20px;
    text-align: left;
    padding: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    font-size: 18px;
    font-style: italic;
    font-weight:300
    line-height: 1;
    padding: 0px 0;
    text-align: center;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li::first-letter {
    font-size: 2em;
    font-weight: bolder;
  }

  a {
    color: red;
    text-decoration: underline;
  }

  .copyright {
    font-size: 16px;
    text-align: center;
  }

  a:hover {
    text-decoration: underline;
    text-align: center;
  }
  
